:host-context(.active){
    display: flex;
}

:host{
    max-width: 100dvw;
    max-height: 100dvh;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2em 0em;
    z-index: 2;
}


.modal-header {
    // font-size: 1.8rem;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #dcdcdc ;
}

.close {
    color: black;
    font-size: 28px;

    i{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.fade {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
    // backdrop-filter: blur(1px);
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    animation: fade_suave 0.2s ease-in-out forwards;
}

@keyframes fade_suave {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    //overflow-y: auto;
    // position: fixed;
    position: relative;
    z-index: 2;
    background: white;
    transition: 0.2s;
    // max-height: 90vh;
    border-radius: 7px;
    z-index: 1;
    // width: 1000px;
    max-width: 100vw;
    animation: spanded 0.4s ease-in-out forwards;
    opacity: 0;
    animation-delay:0.2s;

    &::-webkit-scrollbar {
        height: 3px;
        width: 3px;
    }
}

@keyframes spanded {
    from {
        opacity: 0;
        transform: translateY(15%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

.modal-content{
    color: black;
}